html
{
    font-size: 13px;
    font-family: Verdana;
}

.table-head,.table-food
{
    background-color: lightgray;
}

tbody tr
{
    border-bottom: #eeeeee solid 1px;
}

tbody tr td
{
    padding: 4px;
}

#filters
{
    margin-top: 10px;
    margin-bottom: 10px;
}

#form_gesorteerdOp,#form_datumRange
{
    margin-left: 10px;
    margin-right: 10px;
}

.table-met-uren
{
    padding-left: 10px;
    padding-right: 10px;
}

.link-naar-issue, .link-naar-issue:hover
{
    color: black;
    text-decoration: underline;
}

.de-sorteer-form
{
    padding-left: 25px;
    padding-right: 25px;
}

.wat-er-gekozen-is
{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.totaal-en-uren-op-factuur
{
    font-weight: bold;
    text-align: right;
    padding: 5px;
}

.lege-uren
{
    font-weight: bold;
    font-size: 14px;
}
