{% extends 'base.html.twig' %}

{% block title %} UrenRapport! {% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/formGeselecteerd.js') }}"></script>
{% endblock %}

{% block body %}
    {#{{ dump(test) }}#}
    <div class="de-sorteer-form">
        {{ form_start(form,{'attr':{'novalidate': 'novalidate','id': 'filters'}}) }}
            <div class="row">
                    {{ form_row(form.datumRange) }}
                    {{ form_row(form.gesorteerdOp) }}
            </div>
        {#{{ form_widget(form) }}#}
        {{ form_end(form) }}

        <div class="row wat-er-gekozen-is">
            Uren voor de organisatie JCID in de periode {{ datumGesorteerd }} gesorteerd op {{ gesorteerd|capitalize }}
        </div>
    </div>
    <div class="table-met-uren">
        <table class="" width="100%">
            <thead class="table-head">
                <th width="150">Ticket ID</th>
                <th>Soort</th>
                <th>Titel</th>
                <th width="150">Status</th>
                <th width="100">Uren</th>
            </thead>
            <tbody class="table-body">

            {% if resultaat == null %}
                <p class="lege-uren">{{- resultaat|default('Helaas zijn er geen uren geboekt in de geselecteerde periode.') -}}</p>
            {% else %}
                {% for uren in resultaat %}
                    <tr>
                        <td>
                            <a href="{{ uren.url }}" target="_blank" class="link-naar-issue">
                            {{- uren.ticketId -}}
                            </a>
                        </td>
                        <td>
                            {{- uren.soort -}}
                        </td>
                        <td>
                            {{- uren.title -}}
                        </td>
                        <td>
                            {{- uren.status -}}
                        </td>

                        <td>
                            {{- uren.totaalUrenId|bereken_uren -}}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
        <table class="" width="100%">
            <tfoot class="table-food">
            <tr>
                <td width=""></td>
                <td width=""></td>
                <td width=""></td>
                <td class="totaal-en-uren-op-factuur">Totaal aantal uren op de factuur: {{ factuurTijd }} Gebaseed op de totale tijd: {{ totaal|bereken_uren }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}